@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(0, 0, 0); /* Color del texto en negro */
  background-color: #606060; /* Fondo base blanco */
  background-image: radial-gradient(
    circle,
    black 10%,
    /* Lunares negros */ transparent 11%
  );
  background-size: 10px 10px; /* Tamaño del patrón de lunares */
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
